<%- include('./startReqs.ejs', {page:"Environment"}) %>

    <div class="UIParent" id="UIParent">



    </div>

    <div class="neuralNetwork">



    </div>

    <script src="/materials/lodash.js"></script>
    <script src="/materials/neuralNetwork.js"></script>
    <script type="module" src="/materials/runEnv.js"></script>

    <%- include('./endReqs.ejs'); %>