<%- include('./startReqs.ejs', {page:"Game"}) %>

    <div class="UIParent" id="UIParent">



    </div>

    <div class="neuralNetwork">



    </div>

    <script type="module" src="/materials/runEnv.js"></script>

    <%- include('./endReqs.ejs'); %>